* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    

}

li {
    list-style: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

body {
    font-family: Noto Sans;
}

.title {
    font-size: 48px;
    font-weight: 600;

}

.title_w {
    color: white;
    
}



.text {
    font-weight: 400;
    font-size: 18px;
    


}

.text_w {
    color: rgb(255, 255, 255);
    
}

/* intro */

.intro {
    background-color: #111;
}

.intro__wrap {
    display: flex;
}

.intro__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_title {
    margin-bottom: 18px;
}


/* hr */

.hr__block {
    display: flex;
    justify-content: space-between;
}

.hr__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    color: white;
    
}

.hr {
    background-color: rgb(175, 3, 3);

}




/* header*/

.header {
    background-color: rgb(175, 3, 3);
    padding: 20px 0;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__item a {
    color: #fbfaf7;
    font-size: 16px;
    font-weight: 400;
}

.header__item {
    margin-left: 24px;
}

.header__item_g {
    background-color: rgb(0, 0, 0);
    padding: 15px 25px;
    border-radius: 48px;
}

/* hq */

.hq {
    background-color: black;
    padding: 66px 0 120px;

}

.hq__title {
    text-align: center;
    margin-bottom: 67px;
}

.hq__row {
    display: flex;
    justify-content: space-between;
}

.hq__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hq__text {
    text-align: center;
    margin-top: 30px;
}

/* down */

.section2_hr__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 180px 0;
}

.sec2__block {
    display: flex;
    justify-content: space-between;
}

.sec2__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    color: white;
    

}

.sec2__titlepad {
    padding-bottom: 27px;
}

.sec2 {
    background-color: rgb(175, 3, 3);
}

.sec2__text {
    color: white;
    
}



/* Singig */

.signin {
    font-family: Inter;
}

.signin__wrap {
    display: flex;
}

.signin__block {
    padding: 48px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin__signup{
    display: flex;
}

.signin__box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin__title{
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin-bottom: 35px;

}

.signin__google{
    border-radius: 8px;
    border: 1px solid blue;
    padding: 7.5px 108.29px 8px 108.71px;
    color: red;
    background-color: rgb(72, 66, 66);
    margin-bottom: 30px;
    width: 100%;
}

.signin__input{
    border-radius: 8px;
    background: rgb(211, 192, 192);
    padding: 7.5px 9px 10px 9px;
    width: 100%;
    margin-bottom: 17px;
    border: none;
}

.singnin__enter{
    border-radius: 8px;
    border: 1px solid rgb(46, 46, 53);
    padding: 7.5px 108.29px 8px 108.71px;
    color: rgb(255, 255, 255);
    background-color: rgb(71, 57, 57);
    margin-bottom: 30px;
    width: 100%;
}

hr{
    margin-bottom: 30px;
}
